<!-- layout/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: head}"></head>
<body>
<header th:replace="~{layout/navbar :: header}"></header>
<main class="container mt-4">
    <!--all content will be placed here-->
    <h2>Add Product</h2>
    <form th:action="@{/products/add}" th:object="${product}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" name="name" class="form-control" th:field="*{name}" required>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" id="price" name="price" class="form-control" th:field="*{price}" required>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select id="category" name="category" class="form-select" th:field="*{category}" required>
                <option th:each="category : ${categories}" th:value="${category}" th:text="${category.name}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="brand" class="form-label">Brand</label>
            <select id="brand" name="brand" class="form-select" th:field="*{brand}" required>
                <option th:each="brand : ${brands}" th:value="${brand}" th:text="${brand.name}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/products" class="btn btn-secondary">Cancel</a>
    </form>

</main>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>