<!-- layout/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: head}"></head>
<body>
<header th:replace="~{layout/navbar :: header}"></header>
<main class="container mt-4">
    <!--all content will be placed here-->

    <div class="row">
        <h1>Error</h1>
        <div class="alert alert-danger" th:if="${error}">
            <p th:text="${error}"></p>
        </div>
        <a th:href="@{/}" class="btn btn-primary">Return to Home</a>
    </div>
</main>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>

