<!-- layout/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: head}"></head>
<body>
<header th:replace="~{layout/navbar :: header}"></header>
<main class="container mt-4">
    <!--all content will be placed here-->

    <h1>Last 6 Months Summary</h1>
    <div class="text-success text-center mb-4" th:if="${successMessage}">
        <h4 th:text="${successMessage}"></h4>
    </div>
</main>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>

