<!-- layout/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: head}"></head>
<body>
<header th:replace="~{layout/navbar :: header}"></header>
<main class="container mt-4">
    <!--all content will be placed here-->

    <div class="row">
        <h2 class="text-center mb-4">Notification Management</h2>
        <div class="text-success text-center mb-4" th:if="${successMessage}">
            <h4 th:text="${successMessage}"></h4>
        </div>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>User</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="notification : ${notifications}">
                <td th:text="${notification.id}"></td>
                <td th:text="${notification.type}"></td>
                <td th:text="${notification.user.username}"></td>
                <td th:text="${notification.status}"></td>
                <td>
                    <a th:href="@{/admin/notifications/approve/{id}(id=${notification.id})}" class="btn btn-success btn-sm">Approve</a>
                    <a th:href="@{/admin/notifications/reject/{id}(id=${notification.id})}" class="btn btn-danger btn-sm">Reject</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>

