<!-- layout/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: head}"></head>
<body>
<header th:replace="~{layout/navbar :: header}"></header>
<main class="container mt-4">
    <!--all content will be placed here-->


    <div class="container">
        <div class="row text-center mt-5">
            <h2 class="text-center mb-4">User Management</h2>
            <!--display success message-->
            <div th:if="${successMessage}" class="alert alert-success">
                <h5 th:text="${successMessage}" class="text-success"></h5>
            </div>
            <!--Display error message-->
            <div th:if="${errorMessage}" class="alert alert-danger mt-4">
                <span th:text="${errorMessage}"></span>
            </div>
            <div class="mb-4">
                <a th:href="@{/admin/users?status=enabled}" class="btn btn-success">Enabled Users</a>
                -
                <a th:href="@{/admin/users?status=disabled}" class="btn btn-warning">Disabled Users</a>
                -
                <a th:href="@{/admin/users?status=non-verified}" class="btn btn-secondary">Non-verified Users</a>
                -
                <a th:href="@{/admin/users?status=admin}" class="btn btn-danger">Admin List</a>
                -
                <a th:href="@{/admin/users?status=user}" class="btn btn-info">User List</a>
            </div>
        </div>


        <!-- List of Users-->
        <div class="row">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr class="text-center">
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.phone}"></td>
                    <td th:text="${user.roles[0].name}"></td>
                    <td th:text="${user.enabled ? 'Enabled' : 'Disabled'}"></td>
                    <td>


                        <!--
                           Approve / Enable button
                          <form th:action="@{/admin/users/enable}" method="post" th:if="${!user.enabled}">
                              <input type="hidden" th:value="${user.id}" name="userId">
                              <button type="submit" class="btn btn-success btn-sm">Enable</button>
                          </form>

                           Disable button
                          <form th:action="@{/admin/users/disable}" method="post" th:if="${user.enabled}">
                              <input type="hidden" th:value="${user.id}" name="userId">
                              <button type="submit" class="btn btn-warning btn-sm">Disable</button>
                          </form>
                          -->


                        <!--approve or enable user-->
                        <form th:action="@{/admin/users/approve}" method="post" style="display:inline;">
                            <input type="hidden" th:value="${user.id}" name="userId">
                            <button type="submit" class="btn btn-success btn-sm" th:disabled="${user.enabled}">Approve
                            </button>
                        </form>

                        <form th:action="@{/admin/users/disable}" method="post" style="display:inline;">
                            <input type="hidden" th:value="${user.id}" name="userId">
                            <button type="submit" class="btn btn-warning btn-sm" th:disabled="${!user.enabled}">Disable
                            </button>
                        </form>

                        <!--Edit User Information-->
                        <a th:href="@{/admin/users/edit/{id}(id=${user.id})}" class="btn btn-primary btn-sm">Edit
                            User</a>

                        <!--Edit password button-->
                        <a href="#" th:data-bs-toggle="modal" th:data-bs-target="'#editPasswordModal-' + ${user.id}"
                           class="btn btn-primary btn-sm">Password</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <!-- Password Edit Modal -->
    <div th:each="user : ${users}">
        <div th:id="'editPasswordModal-' + ${user.id}" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title me-1">Edit Password for <span th:text="${user.username}" class="text-warning"></span></h5>

                        <h5 class="modal-title ms-1">New Password is <span th:text="${randomPassword}" class="text-success"></span></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/admin/users/edit-password}" method="post">
                            <input type="hidden" name="userId" th:value="${user.id}">
                            <div class="mb-3">
                                <label for="passwords" class="form-label text-danger">New Password: (Do not modify)</label>
                                <input type="password" id="passwords" name="password" th:value="${randomPassword}" class="form-control" readonly>
                            </div>
                            <button type="submit" class="btn btn-primary">Change Password</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>
