<!-- layout/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: head}"></head>
<body class="d-flex flex-column min-vh-100" > <!-- Flexbox for full height -->
<header th:replace="~{layout/navbar :: header}"></header>
<main class="container mt-4 flex-grow-1">
    <h2>Your Orders</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Total Price</th>
            <th>Status</th>
            <th>Order Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.orderId}"></td>
            <td th:text="${order.totalPrice}"></td>
            <td th:text="${order.status}"></td>
            <td th:text="${order.orderDate}"></td>
        </tr>
        </tbody>
    </table>
</main>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>
