<!-- layout/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: head(~{::link})}">
    <link rel="stylesheet" th:href="@{/css/failure.css}">
</head>
<body class="d-flex flex-column min-vh-100" > <!-- Flexbox for full height -->
<header th:replace="~{layout/navbar :: header}"></header>
<main class="container mt-4 flex-grow-1">
    <!--all content will be placed here-->

    <div class="row">
        <div class="alert alert-danger text-center" role="alert" th:if="${error}">
            <!-- Dynamically display the error message -->
            <p th:text="${error}">Email verification failed. The token may be invalid or expired.</p>
        </div>
        <div class="text-center">
            <a th:href="@{/register}" class="btn btn-primary">Register Again</a>
            <!-- Ensure the userId is passed correctly -->
            <h4>or</h4>
            <a th:href="@{/verify/resend/{userId}(userId=${userId})}" class="btn btn-secondary">Resend Verification in
                Email</a>
        </div>
    </div>

</main>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>

