<!-- layout/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: head}"></head>
<body class="d-flex flex-column min-vh-100" > <!-- Flexbox for full height -->
<header th:replace="~{layout/navbar :: header}"></header>
<main class="container mt-4 flex-grow-1">
  <!--all content will be placed here-->
  <h2>Edit Category</h2>
  <form th:action="@{/admin/products/edit/{id}(id=${product.productId})}" th:object="${product}" method="post">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" id="name" name="name" class="form-control" th:field="*{name}" required>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea id="description" name="description" class="form-control" th:field="*{description}" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/admin/products" class="btn btn-secondary">Cancel</a>
  </form>

</main>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>