<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: head}"></head>
<body class="d-flex flex-column min-vh-100">
<header th:replace="~{layout/navbar :: header}"></header>
<main class="container mt-4 flex-grow-1">
    <h2>Products</h2>
    <a href="/admin/products/add" class="btn btn-primary mb-3">Add Product</a>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Stock</th>
            <th>Featured</th>
            <th>New Arrival</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td><img th:src="@{/images/{filename}(filename=${product.imagePath})}" alt="Product Image" class="img-thumbnail" style="max-width: 100px;"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.category?.name}"></td>
            <td th:text="${product.brand?.name}"></td>
            <td th:text="${product.stockQuantity}"></td>
            <td th:text="${product.isFeatured}"></td>
            <td th:text="${product.isNewArrival}"></td>
            <td>
                <a th:href="@{/admin/products/edit/{id}(id=${product.productId})}" class="btn btn-warning btn-sm">Edit</a>
                <a th:href="@{/admin/products/delete/{id}(id=${product.productId})}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?');">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</main>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>
