<!-- layout/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: head}"></head>
<body>
<header th:replace="~{layout/navbar :: header}"></header>
<main class="container mt-4">
    <!--all content will be placed here-->

    <div class="row">
        <div class="card col-8">
            <div class="card-header text-center">
                <h1 class="mb-2">User Profile</h1>
                <div th:if="${successMessage}" class="text-warning alert alert-warning text-center">
                    <h5 th:text="${successMessage}"></h5>
                </div>
            </div>
            <div class="card-body" th:if="${user != null}">
                <h4>Name: <span th:text="${user.name}"></span></h4>
                <h4>Email: <span th:text="${user.email}"></span></h4>
                <h4>Phone: <span th:text="${user.phoneNumber}"></span></h4>
                <h4>Address: <span th:text="${user.address}"></span></h4>
                <h4>City: <span th:text="${user.city}"></span></h4>
                <h4>State: <span th:text="${user.state}"></span></h4>
                <h4>Country: <span th:text="${user.country}"></span></h4>
                <h4>Zip Code: <span th:text="${user.zipCode}"></span></h4>
                <!-- You can add more user details here -->


                <!-- Edit Profile and Change Password Button -->
                <a href="/user/edit-profile" class="btn btn-primary">Edit Profile</a>
                <a href="/user/change-password" class="btn btn-warning">Change Password</a>
                <!-- Logout Button -->
                <form action="/logout" method="post">
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            </div>
            <div th:if="${user == null}">
                <p>User not found.</p>
            </div>
        </div>
    </div>

</main>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>

